@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$backgroundcolor: #10121b;
$maincolor: #191d2b;
$hightcolor: #0d6efd;
$secondcolor: #a4acc4;
$mainwidth: 300px;

html,
body {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    color: $secondcolor;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: $backgroundcolor;
}

h1 {
    color: #fff;
    font-size: 45px;
}

h2 {
    color: #fff;
}

#burger {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 28px;
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
}

main {
    width: $mainwidth;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $maincolor;
    position: fixed;

    img {
        width: 220px;
        height: 220px;
        margin-top: 30px;
        object-fit: cover;
        border-radius: 50%;
        border: 8px solid #2e344e;
    }

    .items {
        width: 95%;
        height: auto;
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 100%;
            height: auto;
            padding: 10px 0px;
            border: none;
            background-color: transparent;
            color: $secondcolor;
            cursor: pointer;
            font-size: 18px;
            display: inline-block;
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1;

            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 10px 0px;
                background-color: transparent;
                z-index: -2;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: rgba(13, 110, 253, 0.3);
                transition: all .3s;
                z-index: -1;
            }

            &:hover {
                color: #fff;

                &:before {
                    width: 100%;
                }
            }
        }

        .active {
            background-color: $hightcolor;
            color: #fff;
        }

        .active:hover {
            background-color: $hightcolor;
            color: #fff;
        }
    }
}

.container {
    width: calc(100% - $mainwidth);
    height: 100%;
    min-height: 100vh;
    margin-left: $mainwidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        width: 70%;
        height: auto;
        margin: 0;
        text-align: center;
        font-size: 18px;
    }

    span {
        color: $hightcolor;
    }

    .social-container {
        width: auto;
        height: auto;
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 15px;

        a {
            width: 48px;
            height: 48px;
            border: 2px solid #2a2f47;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 21px;
            color: $secondcolor;
        }

        a:hover {
            color: $hightcolor;
            border-color: $hightcolor;
        }
    }

    .infos-container {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        img {
            width: 35%;
            height: 350px;
            object-fit: cover;
        }

        .infos {
            width: 65%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                width: 100%;
                text-align: left;
            }

            .list {
                width: 100%;
                height: auto;
                margin-top: 15px;
                display: flex;
                flex-direction: column;

                .item {
                    width: 50%;
                    height: auto;
                    margin-bottom: 12px;
                    display: flex;
                    justify-content: space-between;
                }
            }

            a {
                padding: 10px;
                border: none;
                color: #fff;
                background-color: $hightcolor;
                text-decoration: none;
            }
        }
    }

    .row {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .item {
            width: 45%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h3 {
                color: #fff;
                font-weight: 500;
            }

            .status {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    width: auto;
                }

                .progress {
                    width: 90%;
                    height: 5px;
                    display: flex;
                    justify-content: flex-start;
                    background-color: rgba(13, 110, 253, 0.3);

                    .size {
                        height: 100%;
                        background-color: $hightcolor;
                    }

                    .size80 {
                        width: 80%;
                    }

                    .size85 {
                        width: 85%;
                    }

                    .size90 {
                        width: 90%;
                    }

                    .size95 {
                        width: 95%;
                    }
                }
            }
        }
    }

    .stack-list {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        i {
            margin-right: 14px;
        }

        .stack {
            width: auto;
            height: 35px;
            padding: 0px 12px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;
        }

        .ccode {
            background-color: #00599c;
        }

        .css3 {
            background-color: #1572B6;
        }

        .html5 {
            background-color: #e34f26;
        }

        .javascript {
            background-color: #323330;

            i {
                color: #f7df1e;
            }
        }

        .php {
            background-color: #777BB4;
        }

        .sass {
            background-color: #ff69b4;
        }

        .nodejs {
            background-color: #6da55f;
        }

        .mysql {
            background-color: #0000ff;
        }

        .mongodb {
            background-color: #4ea94b;
        }

        .canva {
            background-color: #00c4cc;
        }

        .photoshop {
            background-color: #31a8ff;
        }

        .illustrator {
            background-color: #ff9a00;
        }

        .aftereffects {
            background-color: #9999ff;
        }

    }

    .last {
        margin-bottom: 40px;
    }

    .project-container {
        width: 90%;
        height: auto;
        padding-bottom: 30px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 18px;

        .card {
            width: 440px;
            height: auto;
            padding: 14px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            background-color: $maincolor;

            img {
                width: 100%;
                height: auto;
            }

            .stack-list {
                a {
                    margin-top: 10px;
                    border: 2px solid $hightcolor;
                    text-decoration: none;
                    padding: 10px 15px;
                }

                .primary {
                    color: $hightcolor;
                    background-color: transparent;
                }

                .secondary {
                    color: #fff;
                    background-color: $hightcolor;
                }
            }
        }
    }
}

#about h1,
#resume h1,
#projects h1 {
    width: 90%;
    text-align: left;
}

#about,
#resume,
#projects {
    display: none;
}

.lines {
    width: calc(100% - $mainwidth);
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: $mainwidth;
    right: 0;
    z-index: -1;
}

.line {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background: transparent;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        animation: drop 7s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }

    &:nth-child(1) {
        margin-left: -25%;

        &::after {
            animation-delay: 2s;
        }
    }

    &:nth-child(3) {
        margin-left: 25%;

        &::after {
            animation-delay: 2.5s;
        }
    }
}

@media all and (max-width: 834px) {
    #burger {
        display: block;
    }

    main {
        display: none;
        z-index: 1;
    }

    .container {
        width: 100%;
        margin-left: 0px;
        margin-top: 30px;


        .infos-container {

            .infos {
                .list {
                    .item {
                        width: 70%;
                        min-width: 70%;
                        justify-content: space-between;

                        p {
                            width: auto;
                        }
                    }
                }
            }
        }

        .project-container {
            gap: 0px;
            justify-content: space-between;

            .card {
                width: 45%;
                margin-bottom: 15px;
            }
        }
    }

    .lines {
        width: auto;
        left: 0;
        margin-left: 0px;
    }
}

@media all and (max-width: 428px) {
    h1 {
        font-size: 40px;
    }

    main {
        width: 100%;
    }

    .container {
        padding-bottom: 30px;

        p {
            width: 95%;
        }

        .infos-container {
            flex-direction: column;

            img {
                width: 90%;
            }

            .infos {
                width: 90%;

                .list {
                    .item {
                        width: 100%;
                        min-width: 100%;
                    }
                }

                p {
                    text-align: justify;
                }
            }
        }

        .project-container {
            gap: 0px;

            .card {
                width: 95%;
            }
        }
    }
}

@media all and (max-width: 375px) {
    h1 {
        font-size: 36px;
    }

    .container {

        p {
            text-align: justify;
        }
    }
}

@media all and (max-width: 320px) {
    h1 {
        font-size: 32px;
    }

    main {

        img {
            width: 150px;
            height: 150px;
        }
    }
}

.fade-in-fwd {
    -webkit-animation: fade-in-fwd .6s cubic-bezier(.39, .575, .565, 1.000) both;
    animation: fade-in-fwd .6s cubic-bezier(.39, .575, .565, 1.000) both
}

.scale-up-hor-left {
    -webkit-animation: scale-up-hor-left .4s cubic-bezier(.39, .575, .565, 1.000) 0.5s both;
    animation: scale-up-hor-left .4s cubic-bezier(.39, .575, .565, 1.000) 0.5s both
}

.slide-right {
    -webkit-animation: slide-right .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-right .5s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(.4);
        transform: scaleX(.4);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
}

@keyframes scale-up-hor-left {
    0% {
        -webkit-transform: scaleX(.4);
        transform: scaleX(.4);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}