@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html,
body {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  color: #a4acc4;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: #10121b;
}

h1 {
  color: #fff;
  font-size: 45px;
}

h2 {
  color: #fff;
}

main {
  width: 300px;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #191d2b;
  position: fixed;
}
main img {
  width: 220px;
  height: 220px;
  margin-top: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid #2e344e;
}
main .items {
  width: 95%;
  height: auto;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .items button {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  border: none;
  background-color: transparent;
  color: #a4acc4;
  cursor: pointer;
  font-size: 18px;
}
main .items button:hover {
  color: #0d6efd;
  background-color: rgba(13, 110, 253, 0.3);
}
main .items .active {
  background-color: #0d6efd;
  color: #fff;
}
main .items .active:hover {
  background-color: #0d6efd;
  color: #fff;
}

.container {
  width: calc(100% - 300px);
  height: 100%;
  min-height: 100vh;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container p {
  width: 70%;
  height: auto;
  margin: 0;
  text-align: center;
  font-size: 18px;
}
.container span {
  color: #0d6efd;
}
.container .social-container {
  width: auto;
  height: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.container .social-container a {
  width: 48px;
  height: 48px;
  border: 2px solid #2a2f47;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: #a4acc4;
}
.container .social-container a:hover {
  color: #0d6efd;
  border-color: #0d6efd;
}
.container .infos-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.container .infos-container img {
  width: 40%;
  height: 350px;
  object-fit: cover;
}
.container .infos-container .infos {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container .infos-container .infos p {
  width: 100%;
  text-align: left;
}
.container .infos-container .infos .list {
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.container .infos-container .infos .list .item {
  width: 50%;
  height: auto;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}
.container .infos-container .infos button {
  padding: 10px;
  border: none;
  color: #fff;
  background-color: #0d6efd;
}
.container .row {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container .row .item {
  width: 45%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.container .row .item h3 {
  color: #fff;
  font-weight: 500;
}
.container .row .item .status {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .row .item .status p {
  width: auto;
}
.container .row .item .status .progress {
  width: 90%;
  height: 5px;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(13, 110, 253, 0.3);
}
.container .row .item .status .progress .size {
  height: 100%;
  background-color: #0d6efd;
}
.container .row .item .status .progress .size80 {
  width: 80%;
}
.container .row .item .status .progress .size85 {
  width: 85%;
}
.container .row .item .status .progress .size90 {
  width: 90%;
}
.container .row .item .status .progress .size95 {
  width: 95%;
}
.container .stack-list {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.container .stack-list i {
  margin-right: 14px;
}
.container .stack-list .stack {
  width: auto;
  height: 35px;
  padding: 0px 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}
.container .stack-list .ccode {
  background-color: #00599c;
}
.container .stack-list .css3 {
  background-color: #1572B6;
}
.container .stack-list .html5 {
  background-color: #e34f26;
}
.container .stack-list .javascript {
  background-color: #323330;
}
.container .stack-list .javascript i {
  color: #f7df1e;
}
.container .stack-list .php {
  background-color: #777BB4;
}
.container .stack-list .sass {
  background-color: #ff69b4;
}
.container .stack-list .nodejs {
  background-color: #6da55f;
}
.container .stack-list .mysql {
  background-color: #0000ff;
}
.container .stack-list .mongodb {
  background-color: #4ea94b;
}
.container .stack-list .canva {
  background-color: #00c4cc;
}
.container .stack-list .photoshop {
  background-color: #31a8ff;
}
.container .stack-list .illustrator {
  background-color: #ff9a00;
}
.container .stack-list .aftereffects {
  background-color: #9999ff;
}
.container .last {
  margin-bottom: 40px;
}
.container .project-container {
  width: 90%;
  height: auto;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 18px;
}
.container .project-container .card {
  width: 440px;
  height: auto;
  padding: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #191d2b;
}
.container .project-container .card img {
  width: 100%;
  height: auto;
}
.container .project-container .card .stack-list a {
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 15px;
}
.container .project-container .card .stack-list .primary {
  border: 2px solid #0d6efd;
  color: #0d6efd;
  background-color: transparent;
}
.container .project-container .card .stack-list .secondary {
  color: #fff;
  background-color: #0d6efd;
}

#about h1, #resume h1, #projects h1 {
  width: 90%;
  text-align: left;
}

#about, #resume, #projects {
  display: none;
}

.lines {
  width: calc(100% - 300px);
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  z-index: -1;
}

.line {
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background: transparent;
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/*# sourceMappingURL=style.css.map */
