@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$backgroundcolor: #10121b;
$maincolor: #191d2b;
$hightcolor: #0d6efd;
$secondcolor: #a4acc4;
$mainwidth: 300px;

html,
body {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    color: $secondcolor;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: $backgroundcolor;
}

h1 {
    color: #fff;
    font-size: 45px;
}

h2 {
    color: #fff;
}

main {
    width: $mainwidth;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $maincolor;
    position: fixed;

    img {
        width: 220px;
        height: 220px;
        margin-top: 30px;
        object-fit: cover;
        border-radius: 50%;
        border: 8px solid #2e344e;
    }

    .items {
        width: 95%;
        height: auto;
        margin-top: -30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        button {
            width: 100%;
            height: auto;
            padding: 10px 0px;
            border: none;
            background-color: transparent;
            color: $secondcolor;
            cursor: pointer;
            font-size: 18px;
        }

        button:hover {
            color: $hightcolor;
            background-color: rgba(13, 110, 253, 0.3);

        }

        .active {
            background-color: $hightcolor;
            color: #fff;
        }

        .active:hover {
            background-color: $hightcolor;
            color: #fff;
        }
    }
}

.container {
    width: calc(100% - $mainwidth);
    height: 100%;
    min-height: 100vh;
    margin-left: $mainwidth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        width: 70%;
        height: auto;
        margin: 0;
        text-align: center;
        font-size: 18px;
    }

    span {
        color: $hightcolor;
    }

    .social-container {
        width: auto;
        height: auto;
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 15px;

        a {
            width: 48px;
            height: 48px;
            border: 2px solid #2a2f47;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 21px;
            color: $secondcolor;
        }

        a:hover {
            color: $hightcolor;
            border-color: $hightcolor;
        }
    }

    .infos-container {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        img {
            width: 40%;
            height: 350px;
            object-fit: cover;
        }

        .infos {
            width: 60%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                width: 100%;
                text-align: left;
            }

            .list {
                width: 100%;
                height: auto;
                margin-top: 15px;
                display: flex;
                flex-direction: column;

                .item {
                    width: 50%;
                    height: auto;
                    margin-bottom: 12px;
                    display: flex;
                    justify-content: space-between;
                }
            }

            button {
                padding: 10px;
                border: none;
                color: #fff;
                background-color: $hightcolor;
            }
        }
    }

    .row {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .item {
            width: 45%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h3 {
                color: #fff;
                font-weight: 500;
            }

            .status {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    width: auto;
                }

                .progress {
                    width: 90%;
                    height: 5px;
                    display: flex;
                    justify-content: flex-start;
                    background-color: rgba(13, 110, 253, 0.3);

                    .size {
                        height: 100%;
                        background-color: $hightcolor;
                    }

                    .size80 {
                        width: 80%;
                    }

                    .size85 {
                        width: 85%;
                    }

                    .size90 {
                        width: 90%;
                    }

                    .size95 {
                        width: 95%;
                    }
                }
            }
        }
    }

    .stack-list {
        width: 90%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        i {
            margin-right: 14px;
        }

        .stack {
            width: auto;
            height: 35px;
            padding: 0px 12px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ccode {
            background-color: #00599c;
        }

        .css3 {
            background-color: #1572B6;
        }

        .html5 {
            background-color: #e34f26;
        }

        .javascript {
            background-color: #323330;
        }

        .php {
            background-color: #777BB4;
        }

        .sass {
            background-color: #ff69b4;
        }

        .nodejs {
            background-color: #6da55f;
        }

        .mysql {
            background-color: #0000ff;
        }

        .mongodb {
            background-color: #4ea94b;
        }

        .canva {
            background-color: #00c4cc;
        }

        .photoshop {
            background-color: #31a8ff;
        }

        .illustrator {
            background-color: #ff9a00;
        }

        .aftereffects {
            background-color: #9999ff;
        }
        
    }

    .last {
        margin-bottom: 40px;
    }

    
}

#about h1, #resume h1 {
    width: 90%;
    text-align: left;
}

#about, #resume {
    display: none;
  }

.lines {
    width: calc(100% - $mainwidth);
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: $mainwidth;
    right: 0;
    z-index: -1;
}

.line {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background: transparent;
    overflow: hidden;

    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        animation: drop 7s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }

    &:nth-child(1) {
        margin-left: -25%;

        &::after {
            animation-delay: 2s;
        }
    }

    &:nth-child(3) {
        margin-left: 25%;

        &::after {
            animation-delay: 2.5s;
        }
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}