button {
  cursor: pointer;
}

h2 {
  color: #93826E;
  font-size: 18px;
  font-weight: 400;
}

h3 {
  color: #fff;
  font-size: 15px;
  font-weight: 100;
}

p {
  color: #464646;
  font-size: 13px;
  font-weight: 700;
}

a {
  color: #93826E;
}

.primary-button {
  width: auto;
  height: auto;
  padding: 8px 15px;
  border-radius: 2px;
  border: none;
  background-color: #93826E;
  color: #fff;
}

.primary-button:hover {
  background-color: #716151;
}

.secondary-button {
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

.secondary-button:hover {
  background-color: #716151;
}

.big {
  width: 200px;
  height: 60px;
  font-weight: 700;
}

.close-button {
  border: none;
  background-color: transparent;
  color: #93826E;
  font-size: 40px;
  font-weight: 100;
  position: absolute;
  top: 50px;
  right: 40px;
}

.bronze {
  color: #93826E;
}

.gray {
  color: #464646;
}

.white {
  color: #fff;
}

.no-border {
  border: none;
}

input, select, textarea {
  padding: 10px 0px 10px 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  outline: none;
}