@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$greycolor : #f3f5f7;

html, body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h3 {
    font-weight: 400;
}

.primary-button {
    width: auto;
    height: auto;
    padding: 12px 35px;
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    font-size: 18px;
}

header {
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border: none;
        background-color: transparent;
        font-size: 23px;
        cursor: pointer;
    }

    .search-container {
        width: 280px;
        height: auto;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 100%;
            border: none;
            outline: none;
            font-size: 16px;
        }
    }

    .nav-container {
        width: 280px;
        height: auto;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
}

.home-container {
    width: calc(100% - 20px);
    height: auto;
    margin-left: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;

    .column {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $greycolor;
        position: relative;
        cursor: pointer;

        h2, h3 {
            position: absolute;
            margin: 0;
            left: 50px;
        }

        h2 {
            top: 50px;
            font-weight: 500;
        }

        h3 {
            top: 85px;
        }

        img {
            width: auto;
            height: auto;
            max-width: 80%;
            max-height: 80%;
            margin-top: 70px;
        }
    }

    .big {
        width: 100%;
        height: 810px;

        img {
            max-height: 80%;
        }
    }

    .small {
        width: 400px;
        min-width: 400px;
        height: 400px;

        img {
            max-height: 50%;
        }
    }

    .long {
        width: 100%;
        height: 500px;
    }

    .square {
        width: 500px;
        min-width: 500px;
        height: 500px;

        img {
            max-height: 65%;
        }
    }

    .big-square {
        width: 50%;
        height: auto;
    }

    .full {
        width: 100%;
        height: 500px;

        img {
            max-height: 100%;
        }
    }
}

.newsletter-container {
    width: calc(100% - 20px);
    height: 500px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $greycolor;

    h1 {
        margin: 0;
        font-weight: 500;
    }

    .input-container {
        width: auto;
        height: auto;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 15px;

        input {
            width: 350px;
            height: auto;
            padding: 20px;
            border: none;
            font-size: 18px;
            outline: none;
        }

        button {
            margin-left: -15px;
            padding: 0px 20px;
            border: none;
            background-color: #fff;
            cursor: pointer;
        }
    }
}

footer {
    width: 100%;
    height: auto;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .links-container {
        width: 70%;
        height: auto;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        .block {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            box-sizing: fit-content;

            p {
                margin: 0px 0px 8px 0px;

                i {
                    margin-right: 10px;
                }
            }

            a {
                margin-bottom: 6px;
                font-weight: 300;

                i {
                    margin-right: 10px;
                }
            }
        }

        .row-container {
            width: auto;
            height: auto;
            margin-bottom: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 18px;

            input {
                width: 200px;
                padding-bottom: 5px;
                border: none;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);
                font-size: 16px;
            }

            button {
                margin-left: -18px;
                padding: 3px 10px;
                border: none;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);
                color: #000;
                background-color: transparent;
                font-size: 16px;
                cursor: pointer;
            }

            a {
                font-weight: 300;
            }

            .social-container {
                width: auto;
                height: auto;
                display: flex;
                justify-content: flex-start;
                gap: 17px;
            }
        }
    }
}

.title-container {
    width: 70%;
    height: auto;
    padding: 50px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $greycolor;

    .path {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        gap: 10px;

        p {
            color: rgba($color: #000000, $alpha: 0.25);
        }
    }
}

.sort-container {
    width: 70%;
    height: auto;
    margin: 80px 15% 0px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .row-container {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 18px;
        font-weight: 300;

        button {
            width: auto;
            height: auto;
            border: none;
            background-color: transparent;
            font-size: 18px;
            font-weight: 300;
            cursor: pointer;
        }
    }
}

.products-container {
    width: 70%;
    height: auto;
    margin: 0px 15%;
    padding: 10px 0px 100px 0px;
    border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.25);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;

    .item {
        width: auto;
        flex: 0 1 calc(33% - 74px);
        aspect-ratio: 1/1;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $greycolor;
        position: relative;
        cursor: pointer;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }

        p {
            width: auto;
            height: auto;
            padding: 8px 16px;
            color: #fff;
            background-color: #f14705;
            position: absolute;
            top: 0px;
            right: 20px;
        }
    }
}

.product-container {
    width: 70%;
    height: auto;
    margin: 100px 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    .snapshot-container {
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            background-color: $greycolor;
        }
    }

    img {
        width: 50%;
        aspect-ratio: 1/1;
        background-color: $greycolor;
        object-fit: cover;
    }

    .options-container {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;

        h1 {
            color: rgba($color: #000000, $alpha: 0.25);
            margin: 0;
        }

        h2 {
            font-weight: 500;
        }

        p {
            font-weight: 300;
        }

        .actions-container {
            width: auto;
            height: auto;
            margin: 20px 0px;
            display: flex;
            align-items: center;
            gap: 15px;

            input {
                width: 100px;
                height: auto;
                padding: 12px 10px;
                border: 1px solid rgba($color: #000000, $alpha: 0.25);
                outline: none;
                font-size: 18px;
            }
        }

        .row-container {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.description-container {
    width: 70%;
    height: auto;
    margin-left: 15%;
    display: flex;
    flex-direction: column;

    h2 {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);
        text-align: left;
        font-weight: 400;
    }

    .detail-container {
        width: 100%;
        height: auto;
        margin-top: 10px;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-weight: 400;
            margin: 0;
        }

        p {
            font-weight: 300;
        }
    }

    img {
        width: 45%;
        aspect-ratio: 1/1;
        background-color: $greycolor;
        object-fit: cover;
    }
}