@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html,
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h3 {
  font-weight: 400;
}

.primary-button {
  width: auto;
  height: auto;
  padding: 12px 35px;
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
  font-size: 18px;
  cursor: pointer;
}

.secondary-button {
  width: auto;
  height: auto;
  padding: 12px 35px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  align-items: flex-start;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 1;
}
main .link-container {
  width: 350px;
  height: 100%;
  max-height: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fff;
}
@media all and (max-width: 428px) {
  main .link-container {
    width: 100%;
  }
}
main .link-container .close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.25);
}
main .link-container h1 {
  margin-top: 90px;
}
main .link-container a {
  margin: 0px 0px 12px 0px;
  color: #000;
  font-size: 18px;
}
main .link-container a:hover {
  color: #dcb14a;
}
main .link-container .row {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
main .link-container button {
  margin: 0px 0px 12px 0px;
  border: none;
  display: flex;
  align-items: center;
  color: #000;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}
main .link-container button:hover {
  color: #dcb14a;
}
main .link-container button i {
  margin: -10px 0px 0px 10px;
}
main .link-container .collection-menu {
  margin-left: 8px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}
main .link-container .collection-menu a {
  color: rgba(0, 0, 0, 0.55);
}
main .link-container .collection-menu a:hover {
  color: #000;
}

header {
  width: 90%;
  height: auto;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header button {
  border: none;
  background-color: transparent;
  font-size: 23px;
  cursor: pointer;
}
header .search-container {
  width: 280px;
  height: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 428px) {
  header .search-container {
    width: auto;
    border: none;
  }
}
header .search-container:hover {
  border-bottom: 1px solid #dcb14a;
}
header .search-container:hover i {
  color: #dcb14a;
}
header .search-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}
@media all and (max-width: 428px) {
  header .search-container input {
    display: none;
  }
}
header .nav-container {
  width: 280px;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  position: relative;
}
@media all and (max-width: 428px) {
  header .nav-container {
    width: auto;
  }
}
header .nav-container span {
  width: 20px;
  height: 20px;
  display: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #dcb14a;
  position: absolute;
  right: 45px;
  top: 18px;
  font-size: 14px;
  cursor: pointer;
}
header .nav-container button:hover {
  color: #dcb14a;
}
header .nav-container button:nth-child(2):hover ~ span {
  color: #fff;
}

.home-container {
  width: calc(100% - 20px);
  height: auto;
  margin-left: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}
@media all and (max-width: 428px) {
  .home-container {
    flex-wrap: wrap;
  }
}
.home-container .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media all and (max-width: 428px) {
  .home-container .column {
    width: 100%;
  }
}
.home-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f5f7;
  position: relative;
  cursor: pointer;
}
.home-container .item h2,
.home-container .item h3 {
  position: absolute;
  margin: 0;
  left: 50px;
}
@media all and (max-width: 834px) {
  .home-container .item h2,
  .home-container .item h3 {
    left: 30px;
  }
}
.home-container .item h2 {
  top: 50px;
  font-weight: 500;
  -webkit-animation: scale-up-center2 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center2 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@media all and (max-width: 834px) {
  .home-container .item h2 {
    top: 30px;
  }
}
.home-container .item h2:hover {
  -webkit-animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  color: #dcb14a;
}
.home-container .item h3 {
  top: 85px;
}
@media all and (max-width: 834px) {
  .home-container .item h3 {
    top: 60px;
  }
}
.home-container .item img {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
  margin-top: 70px;
  -webkit-animation: scale-up-center2 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center2 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.home-container .item img:hover {
  -webkit-animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.home-container .big {
  width: 100%;
  height: 810px;
}
@media all and (max-width: 834px) {
  .home-container .big {
    height: 610px;
  }
}
@media all and (max-width: 428px) {
  .home-container .big {
    width: 100%;
    height: 500px;
  }
}
.home-container .big img {
  max-height: 80%;
}
.home-container .small {
  width: 400px;
  min-width: 400px;
  height: 400px;
}
@media all and (max-width: 834px) {
  .home-container .small {
    width: 300px;
    min-width: 300px;
    height: 300px;
  }
}
@media all and (max-width: 428px) {
  .home-container .small {
    width: 100%;
  }
}
.home-container .small img {
  max-height: 50%;
}
.home-container .long {
  width: 100%;
  height: 500px;
}
@media all and (max-width: 834px) {
  .home-container .long {
    height: 300px;
  }
}
.home-container .square {
  width: 500px;
  min-width: 500px;
  height: 500px;
}
@media all and (max-width: 834px) {
  .home-container .square {
    width: 300px;
    min-width: 300px;
    height: 300px;
  }
}
@media all and (max-width: 428px) {
  .home-container .square {
    width: 100%;
  }
}
.home-container .square img {
  max-height: 65%;
}
.home-container .big-square {
  width: 50%;
  aspect-ratio: 1/1;
}
@media all and (max-width: 428px) {
  .home-container .big-square {
    width: 100%;
  }
}
@media all and (max-width: 428px) {
  .home-container .big-square img {
    height: 65%;
  }
}
.home-container .full {
  width: 100%;
  height: 500px;
}
.home-container .full img {
  max-height: 100%;
}

.newsletter-container {
  width: calc(100% - 20px);
  height: 500px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f5f7;
}
@media all and (max-width: 834px) {
  .newsletter-container {
    height: 400px;
  }
}
@media all and (max-width: 428px) {
  .newsletter-container {
    height: auto;
    padding: 40px 0px;
  }
}
.newsletter-container h1 {
  margin: 0;
  font-weight: 500;
}
@media all and (max-width: 375px) {
  .newsletter-container p {
    width: 90%;
    text-align: center;
  }
}
.newsletter-container .input-container {
  width: auto;
  height: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
@media all and (max-width: 428px) {
  .newsletter-container .input-container {
    flex-direction: column;
    align-items: center;
  }
}
.newsletter-container .input-container input {
  width: 350px;
  height: auto;
  padding: 20px;
  border: none;
  font-size: 18px;
  outline: none;
}
@media all and (max-width: 834px) {
  .newsletter-container .input-container input {
    width: 250px;
  }
}
.newsletter-container .input-container button {
  margin-left: -15px;
  padding: 0px 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
@media all and (max-width: 428px) {
  .newsletter-container .input-container button {
    width: 290px;
    margin: 0;
    padding: 20px 20px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
  }
}

footer {
  width: 100%;
  height: auto;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .links-container {
  width: 70%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media all and (max-width: 834px) {
  footer .links-container {
    width: 90%;
  }
}
@media all and (max-width: 428px) {
  footer .links-container {
    flex-direction: column;
    gap: 20px;
  }
}
footer .links-container .block {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: fit-content;
}
footer .links-container .block p {
  margin: 0px 0px 8px 0px;
}
footer .links-container .block p i {
  margin-right: 10px;
}
footer .links-container .block a {
  margin-bottom: 6px;
  font-weight: 300;
}
footer .links-container .block a i {
  margin-right: 10px;
}
footer .links-container .row-container {
  width: auto;
  height: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}
footer .links-container .row-container input {
  width: 200px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 16px;
}
footer .links-container .row-container button {
  margin-left: -18px;
  padding: 3px 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  color: #000;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
footer .links-container .row-container a {
  font-weight: 300;
}
footer .links-container .row-container .social-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  gap: 17px;
}
@media all and (max-width: 428px) {
  footer .links-container .row-container:last-child {
    display: none;
  }
}
@media all and (max-width: 428px) {
  footer .links-container h1 {
    width: 100%;
    text-align: center;
  }
}

.title-container {
  width: 70%;
  height: auto;
  padding: 50px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f5f7;
}
@media all and (max-width: 768px) {
  .title-container {
    width: 90%;
    padding: 40px 5%;
  }
}
@media all and (max-width: 414px) {
  .title-container {
    padding: 30px 5%;
  }
}
@media all and (max-width: 375px) {
  .title-container {
    padding: 20px 5%;
  }
}
.title-container .path {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media all and (max-width: 375px) {
  .title-container .path {
    display: none;
  }
}
.title-container .path p {
  color: rgba(0, 0, 0, 0.25);
}

.sort-container {
  width: 70%;
  height: auto;
  margin: 80px 15% 0px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 834px) {
  .sort-container {
    width: 90%;
    margin: 80px 5% 0px 5%;
  }
}
@media all and (max-width: 428px) {
  .sort-container {
    margin: 40px 5% 0px 5%;
  }
}
@media all and (max-width: 375px) {
  .sort-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.sort-container .row-container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 300;
  position: relative;
}
.sort-container .row-container button {
  width: auto;
  height: auto;
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.sort-container .row-container button:hover + .sort-menu {
  display: flex;
}
.sort-container .row-container .sort-menu {
  width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 2;
}
.sort-container .row-container .sort-menu:hover {
  display: flex;
}
.sort-container .row-container .sort-menu button {
  color: rgba(0, 0, 0, 0.55);
}
.sort-container .row-container .sort-menu button:hover {
  color: #000;
}

.products-container {
  width: 70%;
  height: auto;
  min-height: 300px;
  margin: 0px 15%;
  padding: 10px 0px 100px 0px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
}
@media all and (max-width: 834px) {
  .products-container {
    width: 90%;
    margin: 0px 5%;
  }
}
.products-container .item {
  width: auto;
  flex: 0 1 calc(33% - 74px);
  aspect-ratio: 1/1;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f7;
  position: relative;
  cursor: pointer;
}
@media all and (max-width: 768px) {
  .products-container .item {
    flex: 0 1 calc(50% - 68px);
  }
}
@media all and (max-width: 428px) {
  .products-container .item {
    flex: 0 1 100%;
  }
}
.products-container .item img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.products-container .item p {
  width: auto;
  height: auto;
  padding: 8px 16px;
  color: #fff;
  background-color: #f14705;
  position: absolute;
  top: 0px;
  right: 20px;
}

.product-container {
  width: 70%;
  height: auto;
  margin: 100px 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
@media all and (max-width: 834px) {
  .product-container {
    width: 90%;
    margin: 100px 5%;
  }
}
@media all and (max-width: 428px) {
  .product-container {
    margin: 50px 5%;
    flex-direction: column;
  }
}
.product-container .snapshot-container {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media all and (max-width: 428px) {
  .product-container .snapshot-container {
    width: 22.2222222222%;
    aspect-ratio: 1/1;
    flex-direction: row;
  }
}
@media all and (max-width: 414px) {
  .product-container .snapshot-container {
    width: auto;
    min-width: calc(25% - 45px);
    max-width: calc(33% - 40px);
    aspect-ratio: 1/1;
  }
}
.product-container .snapshot-container img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: #f3f5f7;
  cursor: pointer;
}
.product-container img {
  width: 50%;
  aspect-ratio: 1/1;
  background-color: #f3f5f7;
  object-fit: cover;
}
@media all and (max-width: 428px) {
  .product-container img {
    width: 100%;
  }
}
.product-container .options-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.product-container .options-container h1 {
  color: rgba(0, 0, 0, 0.25);
  margin: 0;
}
.product-container .options-container h2 {
  font-weight: 500;
}
.product-container .options-container p {
  font-weight: 300;
}
.product-container .options-container .actions-container {
  width: auto;
  height: auto;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  gap: 15px;
}
@media all and (max-width: 768px) {
  .product-container .options-container .actions-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
.product-container .options-container .actions-container input {
  width: 100px;
  height: auto;
  padding: 12px 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
  font-size: 18px;
}
@media all and (max-width: 834px) {
  .product-container .options-container .actions-container input {
    width: 50px;
  }
}
@media all and (max-width: 768px) {
  .product-container .options-container .actions-container input {
    width: 180px;
  }
}
@media all and (max-width: 768px) {
  .product-container .options-container .actions-container button {
    width: 200px;
  }
}
.product-container .options-container .row-container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.description-container {
  width: 70%;
  height: auto;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 834px) {
  .description-container {
    width: 90%;
    margin-left: 5%;
  }
}
.description-container h2 {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: left;
  font-weight: 400;
}
.description-container .detail-container {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 428px) {
  .description-container .detail-container {
    flex-direction: column;
  }
}
.description-container .detail-container h1 {
  font-weight: 400;
  margin: 0;
}
.description-container .detail-container p {
  font-weight: 300;
}
.description-container img {
  width: 45%;
  aspect-ratio: 1/1;
  background-color: #f3f5f7;
  object-fit: cover;
}
@media all and (max-width: 428px) {
  .description-container img {
    width: 100%;
  }
}

.title-list {
  width: 70%;
  height: auto;
  margin: 40px 15% 0px 15%;
  display: flex;
  background-color: #f3f5f7;
}
@media all and (max-width: 834px) {
  .title-list {
    width: 90%;
    margin: 40px 5% 0px 5%;
  }
}
@media all and (max-width: 428px) {
  .title-list {
    width: 100%;
    margin: 40px 0px 0px 0px;
  }
}
.title-list h3 {
  text-align: center;
}
.title-list .big {
  width: 25%;
}
.title-list .normal {
  width: 20%;
}
.title-list .small {
  width: 5%;
}
@media all and (max-width: 428px) {
  .title-list .small {
    width: auto;
  }
}

.purchases-container {
  width: 70%;
  height: auto;
  margin: 0px 15%;
  display: flex;
  flex-direction: column;
}
@media all and (max-width: 834px) {
  .purchases-container {
    width: 90%;
    margin: 0px 5%;
  }
}
.purchases-container .row {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  text-align: center;
}
.purchases-container .row .big {
  width: 25%;
}
.purchases-container .row .normal {
  width: 20%;
}
.purchases-container .row .small {
  width: 5%;
}
.purchases-container .row img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
@media all and (max-width: 428px) {
  .purchases-container .row img {
    display: none;
  }
}
.purchases-container .row input {
  border: none;
  text-align: center;
  outline: none;
}
.purchases-container .row button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.nopurchase {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nopurchase h1 {
  width: 100%;
  text-align: center;
  color: #000;
}

.actions-container {
  width: 70%;
  height: auto;
  margin: 40px 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 834px) {
  .actions-container {
    width: 90%;
    margin: 40px 5%;
  }
}
@media all and (max-width: 428px) {
  .actions-container {
    flex-direction: column;
    gap: 15px;
  }
}
.actions-container i {
  margin-right: 20px;
}
@media all and (max-width: 428px) {
  .actions-container button {
    width: 80%;
  }
}
@media all and (max-width: 375px) {
  .actions-container button {
    width: 90%;
  }
}

.cart-container {
  width: 70%;
  height: auto;
  padding-bottom: 100px;
  margin: 20px 15%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 834px) {
  .cart-container {
    width: 90%;
    margin: 20px 5%;
  }
}
@media all and (max-width: 428px) {
  .cart-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.cart-container .discount-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
@media all and (max-width: 428px) {
  .cart-container .discount-container {
    width: 80%;
  }
}
@media all and (max-width: 375px) {
  .cart-container .discount-container {
    width: 90%;
  }
}
.cart-container .discount-container input {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 18px;
  outline: none;
}
@media all and (max-width: 428px) {
  .cart-container .discount-container input {
    width: calc(100% - 24px);
  }
}
@media all and (max-width: 428px) {
  .cart-container .discount-container button {
    width: 100%;
  }
}
.cart-container .cart-action {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
@media all and (max-width: 428px) {
  .cart-container .cart-action {
    width: 80%;
  }
}
@media all and (max-width: 375px) {
  .cart-container .cart-action {
    width: 90%;
  }
}
.cart-container .cart-action .total-container {
  width: auto;
  height: auto;
  margin-bottom: 20px;
  padding: 12px 22px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.04);
}
@media all and (max-width: 428px) {
  .cart-container .cart-action .total-container {
    width: calc(100% - 44px);
  }
}
.cart-container .cart-action .total-container .row {
  width: 250px;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
@media all and (max-width: 428px) {
  .cart-container .cart-action .total-container .row {
    width: 100%;
  }
}
.cart-container .cart-action .total-container .row:last-child {
  border: none;
}
.cart-container .cart-action button {
  width: 100%;
}

.checkout-container {
  width: 70%;
  height: auto;
  margin: 20px 15%;
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 834px) {
  .checkout-container {
    width: 90%;
    margin: 20px 5%;
    flex-direction: column;
    gap: 50px;
  }
}
.checkout-container .user-container {
  width: calc(60% - 20px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media all and (max-width: 834px) {
  .checkout-container .user-container {
    width: 90%;
    margin-left: 5%;
  }
}
.checkout-container .user-container .row:first-child {
  background-color: rgba(0, 0, 0, 0.04);
}
@media all and (max-width: 414px) {
  .checkout-container .user-container .row:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
}
.checkout-container .user-container .row:first-child p {
  width: auto;
}
.checkout-container .user-container .row:nth-child(3) {
  justify-content: space-between;
}
.checkout-container .user-container input,
.checkout-container .user-container select {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}
@media all and (max-width: 834px) {
  .checkout-container .user-container input,
  .checkout-container .user-container select {
    width: calc(100% - 20px);
  }
}
@media all and (max-width: 834px) {
  .checkout-container .user-container select {
    width: 100%;
  }
}
.checkout-container .user-container textarea {
  width: 100%;
  height: 100px;
  min-height: 100px;
  padding: 12px 10px;
  resize: vertical;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 834px) {
  .checkout-container .user-container textarea {
    width: calc(100% - 20px);
  }
}
.checkout-container .user-container #address {
  margin-bottom: 15px;
}
.checkout-container .summary-container {
  width: calc(40% - 20px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media all and (max-width: 834px) {
  .checkout-container .summary-container {
    width: 90%;
    margin-left: 5%;
  }
}
.checkout-container .summary-container .row:first-child {
  background-color: rgba(0, 0, 0, 0.04);
}
@media all and (max-width: 414px) {
  .checkout-container .summary-container .row:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
}
.checkout-container .summary-container .row:first-child p {
  width: auto;
}
.checkout-container .summary-container .bill-container {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding: 30px 0px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.04);
}
.checkout-container .summary-container .bill-container .row:first-child {
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  flex-direction: row;
}
.checkout-container .summary-container .bill-container .row:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.checkout-container .summary-container .bill-container .row {
  width: 90%;
  height: auto;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}
.checkout-container .summary-container .bill-container .row h3 {
  margin: 0;
}
.checkout-container .summary-container .bill-container .row p {
  width: auto;
  margin: 0;
}
.checkout-container .summary-container button {
  margin-top: 20px;
  width: 100%;
}
.checkout-container .row {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 8px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.checkout-container .row i {
  width: 18px;
  height: 18px;
  margin: 0px 12px 0px 15px;
  border-radius: 50%;
  color: #fff;
  background-color: #6dde6d;
  text-align: center;
}
@media all and (max-width: 414px) {
  .checkout-container .row i {
    margin: 0px 12px 0px 0px;
  }
}
.checkout-container .row a {
  margin-left: 8px;
}
@media all and (max-width: 414px) {
  .checkout-container .row a {
    margin-left: 0px;
  }
}
.checkout-container .row a:hover {
  color: #dcb14a;
}
.checkout-container .row p {
  width: 100%;
}
.checkout-container .row .column {
  width: calc(50% - 35px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media all and (max-width: 428px) {
  .checkout-container .row .column {
    width: calc(50% - 10px);
  }
}

.order-container {
  width: 70%;
  height: auto;
  margin: 100px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 428px) {
  .order-container {
    width: 90%;
    margin: 100px 5%;
  }
}
@media all and (max-width: 320px) {
  .order-container h1 {
    text-align: center;
  }
}
.order-container i {
  font-size: 50px;
  color: #6dde6d;
}
.order-container p {
  text-align: center;
}

.login-container {
  width: 70%;
  height: auto;
  margin: 60px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media all and (max-width: 428px) {
  .login-container {
    width: 90%;
    margin: 30px 5%;
  }
}
.login-container input {
  width: 300px;
  height: auto;
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}
@media all and (max-width: 320px) {
  .login-container input {
    width: 95%;
  }
}
.login-container .row {
  width: 320px;
  height: auto;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 320px) {
  .login-container .row {
    width: calc(95% + 20px);
  }
}
.login-container .row input {
  width: auto;
}
.login-container .row a {
  color: #dcb14a;
}
.login-container button {
  width: 320px;
}
@media all and (max-width: 320px) {
  .login-container button {
    width: calc(95% + 20px);
  }
}
.login-container a:hover {
  color: #dcb14a;
}
.login-container p {
  width: 320px;
}
@media all and (max-width: 320px) {
  .login-container p {
    width: calc(95% + 20px);
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes scale-up-center2 {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center2 {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}

/*# sourceMappingURL=style.css.map */
