@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    background-color: #f3f6fd;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    width: 90%;
    height: auto;
    margin: 25px 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

header .new-note {
    width: calc(100% - 120px);
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.05);
}

header .new-note button {
    margin-left: 20px;
    border: none;
    color: #848486;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

header .new-note button:hover {
    color: #000;
}

header .notif {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.05);
}

header .notif button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #000;
    background-color: #f3f6fd;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    width: auto;
    height: auto;
    display: none;
    border-radius: 8px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.05);
    z-index: 1;
    right: 0;
}

.dropdown-content .notif-content {
    width: 360px;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.dropdown-content .notif-content img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border-radius: 8px;
    object-fit: cover;
}

.dropdown-content .notif-content .infos {
    width: auto;
    height: 60px;
    max-width: 200px;
    padding: 10px;
}

.dropdown-content .notif-content .infos h4 {
    margin: 5px 0px 0px 0px;
}

.dropdown-content .notif-content .infos p {
    width: 200px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-content .notif-content .time {
    margin: 0;
    position: absolute;
    color: #6c757d;
    font-size: 12px;
}

.dropdown-content .notif-content .first {
    right: 12px;
    top: 12px;
}

.dropdown-content .notif-content .second {
    right: 12px;
    top: 92px;
}

.dropdown-content .notif-content .third {
    right: 12px;
    top: 172px;
}

.dropdown-content .notif-button {
    width: 100%;
    height: auto;
    padding: 8px 0px;
    border: none;
    border-radius: 10px;
    background-color: #1f1c2f;
    color: #fff;
}

.dropdown-content .notif-button:hover {
    background-color: #0f0e17;
}


footer {
    width: 90%;
    height: auto;
    margin: 25px 5%;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.05);
}

footer p {
    margin-left: 20px;
    color: #6c757d;
}

footer a {
    margin-right: 20px;
    color: #000;
}

.note-container {
    width: 90%;
    height: auto;
    margin-left: 5%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.05);
}

.note-container h2 {
    margin-left: 20px;
    font-weight: 300;
    font-size: 30px;
}

.note-container .search-note {
    width: calc(100% - 40px);
    height: auto;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-container .search-note .filter {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #000;
    background-color: #f3f6fd;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.note-container .search-note .tab-container {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 20px;
}

.note-container .search-note .tab-container button {
    border: none;
    color: #848486;
    background-color: #fff;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}

.note-container .search-note .tab-container button i {
    display: none;
}

.note-container .search-note .tab-container .selected {
    color: #000;
    border-bottom: 1px solid #000;
}

.note-container .items-container {
    width: calc(100% - 40px);
    height: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 30px;
}

.note {
    max-width: calc(25% - 20px);
    flex: 1 0 21%;
    height: 255px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.05);
    border-bottom: 5px solid #87baf5;
}

.note .note-head {
    width: 90%;
    height: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note .note-head .cat {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-briefcase {
    color: #87baf5;
    border: 1px solid #87baf5;
}

.fa-mug-hot {
    color: #aa87f5;
    border: 1px solid #aa87f5;
}

.fa-thumbtack {
    color: #8ac3a3;
    border: 1px solid #8ac3a3;
}

.fa-basketball {
    color: #f0864a;
    border: 1px solid #f0864a;
}

.blue i,
.blue {
    color: #87baf5;
    border-color: #87baf5
}

.purple i,
.purple {
    color: #aa87f5;
    border-color: #aa87f5
}

.green i,
.green {
    color: #8ac3a3;
    border-color: #8ac3a3;
}

.orange i,
.orange {
    color: #f0864a;
    border-color: #f0864a;
}

.note .note-head button {
    border: none;
    background-color: #fff;
    font-size: 20px;
    color: #848486;
    cursor: pointer;
}

.note .note-head button i {
    color: #848486;
}

.note h3 {
    width: 90%;
    height: auto;
    margin-bottom: 0px;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    color: #000;
}

.note .para {
    width: 90%;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #6c757d;
}

.note .note-footer {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note .note-footer i {
    margin-right: 5px;
}

.note .note-footer p {
    width: auto;
    color: #000;
}

.new-note-container {
    width: 90%;
    height: auto;
    margin: 0px 5% 25px 5%;
    padding: 20px 0px;
    display: none;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.05);
}

.new-note-container .create {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.new-note-container .title {
    margin: 0px 20px;
    outline: none;
    border: none;
    font-size: 25px;
}

.new-note-container textarea {
    height: 170px;
    margin: 10px 20px;
    outline: none;
    border: none;
    color: #848486;
    resize: none;
}

.new-note-container .date {
    width: 130px;
    margin: 0px 20px;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.wrapper {
    width: calc(100% - 40px);
    height: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    background: #fff;
}

.wrapper .option {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #000;
    background: #fff;
    transition: all 0.3s ease;
}

input[type="radio"] {
    display: none;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2,
#option-3:checked:checked ~ .option-3,
#option-4:checked:checked ~ .option-4 {
    border-color: #000;
    background: #000;
}

.wrapper .option i {
    border: none;
    font-size: 18px;
    color: #000;
}

#option-1:checked:checked ~ .option-1 i,
#option-2:checked:checked ~ .option-2 i,
#option-3:checked:checked ~ .option-3 i,
#option-4:checked:checked ~ .option-4 i {
    color: #fff;
}

.new-note-container .buttons-container {
    width: auto;
    height: auto;
    margin: 40px 20px 0px 20px;
    display: flex;
    grid-gap: 10px;
}

.new-note-container button {
    width: auto;
    height: auto;
    padding: 8px 10px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 18px;
}

.new-note-container .light {
    background-color: #fff;
    color: #000;
}

.new-note-container .light:hover {
    background-color: #000;
    color: #fff;
}

.new-note-container .dark {
    background-color: #000;
    color: #fff;
}

.big-note {
    margin-right: 20px;
}

.scale-in-ver-top {
    -webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-out-ver-top {
    -webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@media screen and (max-width: 900px) {

    header .new-note {
        width: calc(100% - 100px);
    }

    .note {
        max-width: calc(33% - 20px);
        flex: 1 0 30%;
    }
}

@media screen and (max-width: 428px) {

    .note-container .search-note .tab-container button {
        padding-bottom: 7px;
        font-size: 0px;
    }

    .note-container .search-note .tab-container button i {
        display: block;
        font-size: 28px;
    }

    .note {
        max-width: 100%;
        flex: 1 0 100%;
    }

    .new-note-container .note {
        display: none;
    }

    .note,
    .para {
        height: auto;
    }
}

@media screen and (max-width: 390px) {

    .dropdown-content .notif-content {
        width: 280px;
    }
}

@-webkit-keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-ver-top {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@-webkit-keyframes scale-out-ver-top {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}

@keyframes scale-out-ver-top {
    0% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        opacity: 1;
    }
}
